# Q0: import dash standard libraries

In [ ]:
from dash import Dash, dcc, html, Input, Output, callback, State
from jupyter_dash import JupyterDash
from datetime import date

# Q1: Make dash that prints "Data Science"

In [ ]:
app = JupyterDash()
app.layout = html.H1('Data Science')

# Q2: Make dash that takes name input and outpt "Welcome to Data Science dashboard {name}"

In [ ]:
app = JupyterDash()
app.layout= html.Div(children = [
    html.H3('Enter your name:'),
    html.Div([
        'input: ',
        dcc.Input(id='Name', type = 'text' ),
        html.Button('submit', id= 'submit', type = 'submit', n_clicks=0)
    ]),
    html.Br(),
    html.Div(id = 'greetMessage')
])

@app.callback(
Output('greetMessage', 'children'),
Input('submit', 'n_clicks'),
State('Name', 'value')
)
def greet(n_clicks, Name):
    if n_clicks != 0:
        return f'Welcome to Data Science dashboard {Name}'

app.run_server()

# Q3: Make Plotly-Dash that takes two inputs (numbers) and output 3 numbers x, y , z= x+y
- hint: use html.Div, dcc.Input(type='number')

In [ ]:
app = JupyterDash()
app.layout= html.Div(children = [
    html.H3('Enter two numbers:'),
    html.Div([
        'num1: ',
        dcc.Input(id='num1', type = 'number' ),
        html.Br(),
        'num2: ',
        dcc.Input(id='num2', type = 'number' ),
        html.Br(),
    ]),
    html.Br(),
    html.Div(id = 'result')
])

@app.callback(
Output('result', 'children'),
Input('num1', 'value'),
Input('num2', 'value'),
State('num1', 'value')
)
def add(num1, num2, n_clicks):
    if n_clicks != 0:
        return f'{num1}, {num2}, z= {num1+num2}'

app.run_server()

# Q4.1: Make JubyterDash with Rangeslider from 1-15 with 6 option

In [ ]:
app = JupyterDash()
app.layout = html.Div([
    dcc.RangeSlider(1, 15, 3, id='my-range-slider'),
    html.Div(id='output-container-range-slider')
])

@callback(
    Output('output-container-range-slider', 'children'),
    Input('my-range-slider', 'value'))
def update_output(value):
    return 'You have selected "{}"'.format(value)
app.run_server()

# Q4.2: add to the previous dash: Label, set default value on rangeslider as 7-10

In [ ]:
app = JupyterDash()
app.layout = html.Div([
    html.H1('my range slider'),
    dcc.RangeSlider(1, 15, 3,value=[7,10], id='my-range-slider'),
    html.Div(id='output-container-range-slider')
])

@callback(
    Output('output-container-range-slider', 'children'),
    Input('my-range-slider', 'value'))
def update_output(value):
    return 'You have selected "{}"'.format(value)
app.run_server()

# Q5: Make 3 different Dcc types (Dropdown - Checkbox...) in one dash

In [ ]:
from dash import Dash, dcc, html, Input, Output, callback, State
from jupyter_dash import JupyterDash
from datetime import date

In [ ]:
app = JupyterDash()

app.layout = html.Div([
    html.Br(),
    dcc.Checklist(['option1','option2','option3'], ['option1']),
    html.Br(),
    dcc.RadioItems(['option1','option2','option3'], 'option3'),
    html.Br(),
    dcc.DatePickerSingle(date = date(2023,5,5))
])
app.run_server()

# Q6: Make Plotly chart, then add it to a plotly_dash

In [ ]:
import plotly.express as px
import numpy as np
from dash import Dash, dcc, html, Input, Output, callback, State
from jupyter_dash import JupyterDash
from datetime import date

In [ ]:
nums = np.arange(0,10)

In [ ]:
fig = px.line(nums)
fig

In [ ]:
app = JupyterDash()

app.layout = html.Div([
    dcc.Graph(figure=fig)
])
app.run_server()

# Q7: From our data make plotly-dash with suitble chart, and Dropdown.

- Dropdown should contain at least 3 options, each one represents different column.
- Add label to dropdown.
- The chart data should change depending on the selected dropdown option.

In [ ]:
import plotly.express as px
import numpy as np
from dash import Dash, dcc, html, Input, Output, callback, State
from jupyter_dash import JupyterDash
from datetime import date
import pandas as pd
df = pd.read_csv("titanic passenger list.csv")
df

In [ ]:
app = JupyterDash()

app.layout = html.Div([
    'choose an option',
    dcc.Dropdown(id = 'dropdown',
                options= [
                    {'label': i, 'value':i } for i in df['pclass'].value_counts().index
                ]),
    dcc.Graph(id = "graph")
])

@app.callback(
Output('graph', 'figure'),
Input('dropdown', 'value'))

def figOption(pclass):
    return px.histogram(df[df['pclass'] == pclass], x='sex', y = 'survived', title = f'survivors from class {pclass} based on gender') 
app.run_server()

# Q8: add 2 more charts to the prevoius Ploty-Dash

In [ ]:
G1 = px.scatter_3d(df, x ='fare', y = 'sibsp', z = 'age', color='pclass', symbol='sex', opacity= 0.4)
G2 = px.parallel_coordinates(df, color = 'age', dimensions = ['fare', 'age','survived'], color_continuous_midpoint=40)

In [ ]:
app = JupyterDash()

app.layout = html.Div([
    'choose an option',
    dcc.Dropdown(id = 'dropdown',
                options= [
                    {'label': i, 'value':i } for i in df['pclass'].value_counts().index
                ]),
    dcc.Graph(id = "graph1"),
    dcc.Graph(id = "graph2", figure= G1),
    dcc.Graph(id = "graph3", figure= G2)
])

@app.callback(
Output('graph1', 'figure'),
Input('dropdown', 'value'))

def figOption(pclass):
    return px.histogram(df[df['pclass'] == pclass], x='sex', y = 'survived', title = f'survivors from class {pclass} based on gender') 
app.run_server()

# Q9: Search for "Plotly Gallery" and fetch for a graph and use it with our data.

- Note: You need to put the resourse addres of fetched your grapth.

In [1]:
import plotly.express as px
import plotly.graph_objs as go
import numpy as np
from dash import Dash, dcc, html, Input, Output, callback, State
from jupyter_dash import JupyterDash
from datetime import date
import pandas as pd
import chart_studio.plotly as py
df = pd.read_csv("titanic passenger list.csv")
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,1.0,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0.0,"Zabour, Miss. Hileni",female,15.0,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,27.0,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [2]:
apiKey = 'pENvrAfLUZPVIxXnDUOA'
username = 'Hussainzawad'
py.sign_in(username, apiKey)

In [ ]:
fig = py.get_figure('https://plotly.com/~PythonPlotBot/797')
newTrace = px.histogram(df, x = 'pclass')
fig['data'].append(newTrace)

# Challenge 1.1: Create Plotly dash with two charts depends on different columns of the data
- First Chart : Pie
- Secound Chart: is by your Choice ( Not Pie )

In [2]:
pie = px.pie(df, values=df['pclass'].value_counts(), names=['2.0','1.0','3.0'], title= "pclass distribution")
bar = px.bar(df, x ='sex')

In [ ]:
app = JupyterDash()

app.layout = html.Div([
    dcc.Graph(id = "graph1", figure= pie),
    dcc.Graph(id = "graph2", figure= bar)
])

app.run_server()

# Challenge 1.2: Make Hovering over a slice of the pie changes the data for the second chart depending on what the slice is.

In [4]:
app = JupyterDash()

app.layout = html.Div([
    dcc.Graph(id = "graph1", figure= pie),
    dcc.Graph(id = "graph2")
])

@app.callback(
Output('graph2', 'figure'),
[Input('graph1', 'hoverData')]
)
def update_graph2(hover_data):
    if hover_data is None:
        return px.bar(df, x ='sex')  # Default data
    else:
        pclass = hover_data['points'][0]['label'] 
        filtered_data = df[df['pclass'] == float(pclass)]  
        return px.bar(filtered_data, x='sex', title=f'gender ditribution based on class: {pclass}') 
app.run_server()

/Users/huss/anaconda3/envs/udemy_pandas/lib/python3.11/site-packages/dash/dash.py:516: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

TypeError: 'NoneType' object cannot be interpreted as an integer

In [ ]:
df.info()