# Q0: import dash standard libraries

In [1]:
from dash import Dash, dcc, html, Input, Output
from jupyter_dash import JupyterDash
import warnings
warnings.filterwarnings("ignore")

# Q1: Make dash that prints "Data Science"

In [2]:
# app = JupyterDash()

# DataSci = html.H1("DataScience")
# app.layout= DataSci
# app.run_server(port='3000')

# Q2: Make dash that takes name input and outpt "Welcome to Data Science dashboard {name}"

In [3]:
# app = JupyterDash()
# app.layout = html.Div([
#     html.H1("Welcome Sentence"),
#     html.Div([
#         html.Label("Name: "),
#         dcc.Input(id="name-input", type="text", placeholder="Enter your name"),

#     ]),
#     html.Div(id="output")
# ])

# @app.callback(
#     Output("output", "children"),
#     Input("name-input", "value"),
# )
# def update_output(name):
#     return f"Welcome to the Data Science Dashboard, {name}!"

# Q3: Make Plotly-Dash that takes two inputs (numbers) and output 3 numbers x, y , z= x+y
- hint: use html.Div, dcc.Input(type='number')

In [4]:
# app = JupyterDash()
# app.layout = html.Div([
#     html.H1("Numbers"),
#     html.Div([
#         html.Label("Number1: "),
#         dcc.Input(id="input1", type="number",value=0, placeholder="Enter number x: "),
#         html.Label("Number2: "),
#         dcc.Input(id="input2", type="number",value=0, placeholder="Enter number y: "),
        
#     ]),
#     html.Div(id="output")
# ])

# @app.callback(
#     Output("output", "children"),
#     Input("input1", "value"),
#     Input("input2", "value")
# )
# def calc_sum(input1, input2):
#     return f"{input1+input2} = {input1} + {input2}"

# app.run_server(port='3001')

# Q4.1: Make JubyterDash with Rangeslider from 1-15 with 6 option

In [5]:
# app = JupyterDash()
# app.layout = html.Div([
#     dcc.RangeSlider(1,15,3,id="range-slider"),
#     html.Div(id="output")
# ])

# @app.callback(
#     Output("output", "children"),
#     Input("range-slider", "value")
# )
# def update_output(value):
#     return html.H2(f"Selected value: {value[0]}to{value[1]}")
# app.run_server(port='3001')

# Q4.2: add to the previous dash: Label, set default value on rangeslider as 7-10

In [6]:
# app = JupyterDash()
# app.layout = html.Div([
#     html.Label("Range Value"),
#     dcc.RangeSlider(1,15,3,id="range-slider", value=[7,10]),
#     html.Div(id="output")
# ])

# @app.callback(
#     Output("output", "children"),
#     Input("range-slider", "value")
# )
# def update_output(value):
#     return html.H2(f"Selected value: {value[0]} to {value[1]} ")
# app.run_server(port='3001')

# Q5: Make 3 different Dcc types (Dropdown - Checkbox...) in one dash

In [7]:
# from datetime import date
# app = JupyterDash()
# app.layout = html.Div([
#     dcc.Dropdown(['Rayan', 'Khalid', 'Anwar'], 'Rayan', id='demo-dropdown'),
#     dcc.Checklist(['Rayan', 'Khalid', 'Anwar'], id='demo-box'),
#     dcc.DatePickerRange(
#     id='date-picker',
#     min_date_allowed=date(1995, 8, 5),
#     max_date_allowed=date(2023, 8, 17),
#     initial_visible_month=date(2017, 8, 5),
#     end_date=date(2017, 8, 25)
#     ),
# ])

# @app.callback(
#     Output("output", "children"),
#     Input("demo-dropdown", "value"),
#     Input("demo-box", "value"),
#     Input("date-picker", "value"),
# )
# def update_output(demoDropdown, demoBox, datePicker):
#     return html.H2(f"Selected value: Dropdown: {demoDropdown}. Chiklist: {demoBox}. Date:{datePicker}.")
# app.run_server(port='3001')

# Q6: Make Plotly chart, then add it to a plotly_dash

In [8]:
import plotly.express as px

In [9]:
# app = JupyterDash()
# plotChart = px.line( x=[1,2,3,5,7,9],y=[1,3,6,8,9,11])

# app.layout = html.Div([
#     dcc.Graph(figure = plotChart, id='figureIs')
# ])


# app.run_server(port='3001')

# Q7: From our data make plotly-dash with suitble chart, and Dropdown.

- Dropdown should contain at least 3 options, each one represents different column.
- Add label to dropdown.
- The chart data should change depending on the selected dropdown option.

In [10]:
import pandas as pd
df = pd.read_csv("titanic passenger list.csv")

In [11]:
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,1.0,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0.0,"Zabour, Miss. Hileni",female,15.0,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,27.0,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1305 non-null   float64
 1   survived   1305 non-null   float64
 2   name       1305 non-null   object
 3   sex        1305 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1305 non-null   float64
 6   parch      1305 non-null   float64
 7   ticket     1305 non-null   object
 8   fare       1304 non-null   float64
 9   cabin      292 non-null    object
 10  embarked   1303 non-null   object
 11  boat       484 non-null    object
 12  body       121 non-null    float64
 13  home.dest  741 non-null    object
dtypes: float64(7), object(7)
memory usage: 143.3+ KB

In [13]:
# app = JupyterDash()
# app.layout = html.Div([
#     html.Label("Choose Chart: "),
#     dcc.Dropdown(id='dropdownlist', options=[
#         {'label': 'Parch', 'value': 'parch'},
#         {'label': 'Fare', 'value': 'fare'},
#         {'label': 'Survived', 'value': 'survived'}
#     ],
#                  value = "parch"
#                 ),
#     html.Div([
#         dcc.Graph(id="chart")
#     ])
# ])
# @app.callback(
    
#     Output('chart', 'figure'),
#     [Input('dropdownlist', 'value')]
# )
# def chosen_fig(figName):
#     fig = px.histogram(df, x=figName, color="sex", category_orders={'sex':['male', 'female']})
#     return fig
# app.run_server(port='3001')

# Q8: add 2 more charts to the prevoius Ploty-Dash

In [14]:
# app = JupyterDash()
# app.layout = html.Div([
#     html.Label("Choose Chart: "),
#     dcc.Dropdown(id='dropdownlist', options=[
#         {'label': 'Parch', 'value': 'parch'},
#         {'label': 'Fare', 'value': 'fare'},
#         {'label': 'Survived', 'value': 'survived'}
#     ],
#                  value = "parch"
#                 ),
#     html.Div([
#         dcc.Graph(id="chart"),
#         dcc.Graph(id="chart2"),
#         dcc.Graph(id="chart3"),
        
#     ])
# ])
# @app.callback(
    
#     Output('chart', 'figure'),
#     Output('chart2', 'figure'),
#     Output('chart3', 'figure'),
#     [Input('dropdownlist', 'value')]
# )
# def chosen_fig(figName):
#     fig = px.histogram(df, x=figName, color="sex", category_orders={'sex':['male', 'female']})
#     fig1 = px.scatter(df, x=figName, y="age", color="sex", category_orders={'sex':['male', 'female']})
#     fig2 = px.bar(df, x=figName, y="age", color="sex", category_orders={'sex':['male', 'female']})
#     return fig, fig1, fig2
# app.run_server(port='3001')

# Q9: Search for "Plotly Gallery" and fetch for a graph and use it with our data.

- Note: You need to put the resourse addres of fetched your grapth.

In [15]:
# resourse : https://plotly.com/python/axes/
import plotly.express as px

app = JupyterDash()


app.layout = html.Div([
    html.H4('Interactive Plotly Express axes'),
    html.Button("Rotate labels", n_clicks=0, 
                id='button'),
    dcc.Graph(id="graph"),
])


@app.callback(
    Output("graph", "figure"), 
    Input("button", "n_clicks"))
def rotate_figure(n_clicks):
    fig = px.histogram(df, x="sex", color="sex", category_orders={'sex':['male']})
    fig.update_xaxes(tickangle=n_clicks*45)
    return fig


app.run_server(port="3000")

Dash app running on http://127.0.0.1:3000/

# Challenge 1.1: Create Plotly dash with two charts depends on different columns of the data
- First Chart : Pie
- Secound Chart: is by your Choice ( Not Pie )

# Challenge 1.2: Make Hovering over a slice of the pie changes the data for the second chart depending on what the slice is.